 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 7102px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-weight: 700;
  font-size: 3rem;
  width: 235px;
  margin: 14px auto 0;
}

.u-section-1 .u-text-2 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -24px 927px 0 -19px;
}

.u-section-1 .u-text-3 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 33px 426px 0 0;
}

.u-section-1 .u-text-4 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 29px 923px 0 -15px;
}

.u-section-1 .u-text-5 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 14px 0 0;
}

.u-section-1 .u-image-1 {
  width: 397px;
  height: 366px;
  margin: -366px 0 0 auto;
}

.u-section-1 .u-image-2 {
  width: 791px;
  height: 345px;
  margin: 24px auto 0;
}

.u-section-1 .u-image-3 {
  width: 570px;
  height: 500px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-6 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-1 .u-text-7 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 66px 0 0;
}

.u-section-1 .u-text-8 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 23px 0 0;
}

.u-section-1 .u-text-9 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 148px 0 0;
}

.u-section-1 .u-image-4 {
  width: 570px;
  height: 758px;
  margin: 23px auto 0;
}

.u-section-1 .u-image-5 {
  width: 570px;
  height: 756px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-10 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-1 .u-image-6 {
  width: 570px;
  height: 738px;
  margin: 24px auto 0;
}

.u-section-1 .u-image-7 {
  width: 570px;
  height: 766px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-11 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-1 .u-image-8 {
  width: 570px;
  height: 526px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-12 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-1 .u-image-9 {
  width: 570px;
  height: 522px;
  margin: 24px auto 0;
}

.u-section-1 .u-text-13 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-1 .u-text-14 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-1 .u-image-10 {
  width: 570px;
  height: 535px;
  margin: 14px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 335px;
    margin-right: 302px;
    margin-left: 503px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 163px;
    margin-right: 959px;
    margin-left: 181px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -434px;
    margin-left: 200px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 438px;
    margin-right: 927px;
    margin-left: 181px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 1055px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -392px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 50px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -138px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 55px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 128px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 7071px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 192px;
    margin-left: 613px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 13315px;
    margin-right: 739px;
    margin-left: 401px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -13586px;
    margin-left: 420px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 8438px;
    margin-right: 739px;
    margin-left: 401px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 1083px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -327px;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 314px;
    margin-top: -16px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 87px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 96px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 6183px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-right: 102px;
    margin-left: 703px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 10371px;
    margin-right: 559px;
    margin-left: 581px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-top: -10572px;
    margin-right: 540px;
    margin-left: 600px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-top: 6593px;
    margin-right: 559px;
    margin-left: 581px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    margin-top: 1065px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -615px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 236px;
    margin-top: 273px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 474px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
    margin-top: 52px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1rem;
    margin-top: 138px;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 718px;
  }

  .u-section-1 .u-image-5 {
    width: 540px;
    height: 717px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-6 {
    width: 540px;
    height: 699px;
  }

  .u-section-1 .u-image-7 {
    width: 540px;
    height: 725px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-8 {
    width: 540px;
    height: 498px;
  }

  .u-section-1 .u-text-12 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-9 {
    width: 540px;
    height: 494px;
  }

  .u-section-1 .u-text-13 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-14 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-10 {
    width: 540px;
    height: 507px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4441px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 2px;
    margin-left: 803px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 10321px;
    margin-right: 359px;
    margin-left: 781px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -10522px;
    margin-right: 340px;
    margin-left: 800px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 6543px;
    margin-right: 359px;
    margin-left: 781px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 995px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 313px;
    margin-top: -1185px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 149px;
    margin-top: 895px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 298px;
    margin-top: -46px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 127px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 38px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 452px;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 451px;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 440px;
  }

  .u-section-1 .u-image-7 {
    width: 340px;
    height: 456px;
  }

  .u-section-1 .u-image-8 {
    width: 340px;
    height: 314px;
  }

  .u-section-1 .u-image-9 {
    width: 340px;
    height: 311px;
  }

  .u-section-1 .u-image-10 {
    width: 340px;
    height: 319px;
  }
}