 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 13299px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-weight: 700;
  font-size: 3rem;
  margin: 21px 384px 0 402px;
}

.u-section-1 .u-text-2 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -31px 927px 0 -19px;
}

.u-section-1 .u-text-3 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 43px 426px 0 0;
}

.u-section-1 .u-image-1 {
  width: 355px;
  height: 223px;
  margin: -133px 83px 0 auto;
}

.u-section-1 .u-text-4 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -32px 927px 0 -19px;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 807px;
  margin: 21px -25px 0 auto;
}

.u-section-1 .u-text-5 {
  margin: -719px 600px 0 0;
}

.u-section-1 .u-image-3 {
  width: 570px;
  height: 484px;
  margin: 21px auto 0 -15px;
}

.u-section-1 .u-image-4 {
  width: 570px;
  height: 807px;
  margin: 75px auto 0 -15px;
}

.u-section-1 .u-text-6 {
  margin: -761px 15px 0 585px;
}

.u-section-1 .u-image-5 {
  width: 570px;
  height: 485px;
  margin: 38px -15px 0 auto;
}

.u-section-1 .u-image-6 {
  width: 570px;
  height: 482px;
  margin: 21px -15px 0 auto;
}

.u-section-1 .u-image-7 {
  width: 570px;
  height: 481px;
  margin: -433px auto 0 -15px;
}

.u-section-1 .u-text-7 {
  margin: 40px 615px 0 -15px;
}

.u-section-1 .u-image-8 {
  width: 570px;
  height: 807px;
  margin: -100px -15px 0 auto;
}

.u-section-1 .u-text-8 {
  margin: -758px 0 0 600px;
}

.u-section-1 .u-image-9 {
  width: 570px;
  height: 484px;
  margin: -198px auto 0 -30px;
}

.u-section-1 .u-image-10 {
  width: 570px;
  height: 477px;
  margin: 24px auto 0 -30px;
}

.u-section-1 .u-text-9 {
  margin: -282px 15px 0 585px;
}

.u-section-1 .u-image-11 {
  width: 570px;
  height: 807px;
  margin: 208px auto 0 -30px;
}

.u-section-1 .u-text-10 {
  margin: -766px 30px 0 570px;
}

.u-section-1 .u-image-12 {
  width: 570px;
  height: 485px;
  margin: 40px 0 0 auto;
}

.u-section-1 .u-image-13 {
  width: 570px;
  height: 807px;
  margin: 38px 0 0 auto;
}

.u-section-1 .u-text-11 {
  margin: -714px 600px 0 0;
}

.u-section-1 .u-image-14 {
  width: 570px;
  height: 460px;
  margin: 38px auto 0 -30px;
}

.u-section-1 .u-text-12 {
  margin: 86px 0 0;
}

.u-section-1 .u-image-15 {
  width: 570px;
  height: 484px;
  margin: 30px 0 0;
}

.u-section-1 .u-image-16 {
  width: 570px;
  height: 484px;
  margin: -484px -15px 0 auto;
}

.u-section-1 .u-image-17 {
  width: 570px;
  height: 807px;
  margin: 24px auto 0;
}

.u-section-1 .u-text-13 {
  margin: 15px 0 0;
}

.u-section-1 .u-image-18 {
  width: 570px;
  height: 485px;
  margin: 21px auto 0;
}

.u-section-1 .u-image-19 {
  width: 570px;
  height: 807px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-14 {
  margin: 21px 0 0;
}

.u-section-1 .u-image-20 {
  width: 570px;
  height: 484px;
  margin: 28px auto 0;
}

.u-section-1 .u-image-21 {
  width: 570px;
  height: 484px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-15 {
  margin: 20px 0 0;
}

.u-section-1 .u-image-22 {
  width: 570px;
  height: 483px;
  margin: 20px auto 0;
}

.u-section-1 .u-image-23 {
  width: 570px;
  height: 479px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-16 {
  margin: 20px 0 0;
}

.u-section-1 .u-image-24 {
  width: 570px;
  height: 760px;
  margin: 15px auto 0;
}

.u-section-1 .u-text-17 {
  margin: 20px 0 0;
}

.u-section-1 .u-image-25 {
  width: 570px;
  height: 755px;
  margin: 31px auto 0;
}

.u-section-1 .u-text-18 {
  margin: 20px 0 0;
}

.u-section-1 .u-image-26 {
  width: 570px;
  height: 756px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-19 {
  margin: 20px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 7923px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 13214px;
  }

  .u-section-1 .u-text-1 {
    width: 335px;
    margin-right: 2px;
    margin-left: 803px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 191px;
    margin-right: 659px;
    margin-left: 481px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -466px;
    margin-right: 640px;
    margin-left: 500px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 11576px;
    margin-right: 383px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -11361px;
    margin-right: 659px;
    margin-left: 481px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 275px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 700px;
    margin-left: 300px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 285px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 676px;
    margin-left: 285px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -1208px;
    margin-right: 300px;
    margin-left: 700px;
  }

  .u-section-1 .u-image-5 {
    margin-right: 185px;
  }

  .u-section-1 .u-image-6 {
    margin-right: 185px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 85px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 515px;
    margin-left: 85px;
  }

  .u-section-1 .u-image-8 {
    margin-top: -681px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 1179px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-9 {
    margin-top: -1554px;
    margin-left: 100px;
  }

  .u-section-1 .u-image-10 {
    margin-top: -520px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -331px;
    margin-right: 0;
    margin-left: 400px;
  }

  .u-section-1 .u-image-11 {
    margin-top: 66px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -770px;
    margin-right: 0;
    margin-left: 400px;
  }

  .u-section-1 .u-image-12 {
    width: 470px;
    height: 400px;
    margin-top: 933px;
  }

  .u-section-1 .u-image-13 {
    margin-top: 37px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -732px;
    margin-right: 400px;
  }

  .u-section-1 .u-text-12 {
    width: 540px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 7830px;
  }

  .u-section-1 .u-text-1 {
    margin-right: -438px;
    margin-left: 1243px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 13631px;
    margin-right: 109px;
    margin-left: 1031px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -13906px;
    margin-right: 90px;
    margin-left: 1050px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 55246px;
    margin-right: 293px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -47031px;
    margin-right: 109px;
    margin-left: 1031px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 150px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 510px;
    margin-left: 630px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 210px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 9300px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -9676px;
    margin-right: 330px;
    margin-left: 810px;
  }

  .u-section-1 .u-image-5 {
    margin-right: auto;
    margin-left: 210px;
  }

  .u-section-1 .u-image-6 {
    margin-right: auto;
    margin-left: 210px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 195px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 405px;
    margin-left: 195px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 180px;
  }

  .u-section-1 .u-image-9 {
    margin-left: 210px;
  }

  .u-section-1 .u-image-10 {
    margin-left: 210px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 180px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 180px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 180px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 7542px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 12565px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-right: -798px;
    margin-left: 1603px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 10617px;
    margin-right: -341px;
    margin-left: 1481px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-top: -10822px;
    margin-right: -360px;
    margin-left: 1500px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 44323px;
    margin-right: 185px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-top: -37953px;
    margin-right: -341px;
    margin-left: 1481px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 764px;
    margin-top: -22px;
    margin-right: auto;
    margin-left: 300px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -642px;
    margin-right: 240px;
    margin-left: 900px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 459px;
    margin-left: 300px;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 764px;
    margin-top: 8292px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -8541px;
    margin-right: 240px;
    margin-left: 900px;
  }

  .u-section-1 .u-image-5 {
    margin-right: 270px;
    margin-left: auto;
  }

  .u-section-1 .u-image-6 {
    width: 540px;
    height: 456px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-7 {
    margin-top: -407px;
    margin-right: 270px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-image-8 {
    width: 540px;
    height: 764px;
    margin-top: -707px;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: 1749px;
    margin-left: 0;
  }

  .u-section-1 .u-image-9 {
    margin-top: -2043px;
    margin-left: 300px;
  }

  .u-section-1 .u-image-10 {
    margin-top: 72px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -380px;
    margin-left: 0;
  }

  .u-section-1 .u-image-11 {
    margin-top: 121px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -721px;
    margin-left: 0;
  }

  .u-section-1 .u-image-13 {
    width: 540px;
    height: 764px;
    margin-top: -6px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -646px;
    margin-right: 0;
  }

  .u-section-1 .u-image-15 {
    width: 540px;
    height: 459px;
  }

  .u-section-1 .u-image-16 {
    width: 540px;
    height: 458px;
    margin-top: -459px;
    margin-right: 0;
  }

  .u-section-1 .u-image-17 {
    width: 540px;
    height: 764px;
  }

  .u-section-1 .u-image-18 {
    width: 540px;
    height: 460px;
  }

  .u-section-1 .u-image-19 {
    width: 540px;
    height: 764px;
  }

  .u-section-1 .u-image-20 {
    width: 540px;
    height: 459px;
  }

  .u-section-1 .u-image-21 {
    width: 540px;
    height: 458px;
  }

  .u-section-1 .u-image-22 {
    width: 540px;
    height: 458px;
  }

  .u-section-1 .u-image-23 {
    width: 540px;
    height: 454px;
  }

  .u-section-1 .u-image-24 {
    width: 540px;
    height: 720px;
  }

  .u-section-1 .u-image-25 {
    width: 540px;
    height: 716px;
  }

  .u-section-1 .u-image-26 {
    width: 540px;
    height: 716px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 5796px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 7185px;
  }

  .u-section-1 .u-text-1 {
    margin-right: -1198px;
    margin-left: 2003px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 10567px;
    margin-right: -841px;
    margin-left: 1981px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -10772px;
    margin-right: -860px;
    margin-left: 2000px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 214px;
    margin-top: 41460px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -35131px;
    margin-right: -841px;
    margin-left: 1981px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 481px;
    margin-top: 78px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -459px;
    margin-right: -60px;
    margin-left: 1200px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 289px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 481px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-6 {
    margin-right: -60px;
    margin-left: 1200px;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 290px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 287px;
  }

  .u-section-1 .u-image-7 {
    width: 340px;
    height: 287px;
    margin-top: -238px;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-image-8 {
    width: 340px;
    height: 481px;
    margin-top: -877px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 1908px;
  }

  .u-section-1 .u-image-9 {
    width: 340px;
    height: 289px;
    margin-top: -1832px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-10 {
    width: 340px;
    height: 285px;
    margin-top: 24px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -280px;
  }

  .u-section-1 .u-image-11 {
    width: 340px;
    height: 481px;
    margin-top: -4px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-top: -496px;
  }

  .u-section-1 .u-image-12 {
    width: 340px;
    height: 289px;
  }

  .u-section-1 .u-image-13 {
    width: 340px;
    height: 481px;
    margin-top: 69px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -438px;
  }

  .u-section-1 .u-image-14 {
    width: 340px;
    height: 274px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    width: 340px;
  }

  .u-section-1 .u-image-15 {
    width: 340px;
    height: 289px;
  }

  .u-section-1 .u-image-16 {
    width: 340px;
    height: 288px;
    margin-top: -289px;
  }

  .u-section-1 .u-image-17 {
    width: 340px;
    height: 481px;
  }

  .u-section-1 .u-image-18 {
    width: 340px;
    height: 290px;
  }

  .u-section-1 .u-image-19 {
    width: 340px;
    height: 481px;
  }

  .u-section-1 .u-image-20 {
    width: 340px;
    height: 289px;
  }

  .u-section-1 .u-image-21 {
    width: 340px;
    height: 288px;
  }

  .u-section-1 .u-image-22 {
    width: 340px;
    height: 288px;
  }

  .u-section-1 .u-image-23 {
    width: 340px;
    height: 286px;
  }

  .u-section-1 .u-image-24 {
    width: 340px;
    height: 453px;
  }

  .u-section-1 .u-image-25 {
    width: 340px;
    height: 451px;
  }

  .u-section-1 .u-image-26 {
    width: 340px;
    height: 451px;
  }
}