 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 5688px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-weight: 700;
  font-size: 3rem;
  width: 455px;
  margin: 7px auto 0;
}

.u-section-1 .u-text-2 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 29px 342px 0 0;
}

.u-section-1 .u-image-1 {
  width: 433px;
  height: 577px;
  margin: -266px 40px 0 auto;
}

.u-section-1 .u-text-3 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: -221px 0 0;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 765px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-4 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -1049px 927px 0 -19px;
}

.u-section-1 .u-text-5 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 107px 923px 0 -15px;
}

.u-section-1 .u-text-6 {
  margin: 907px 15px 0 -15px;
}

.u-section-1 .u-image-3 {
  width: 570px;
  height: 759px;
  margin: 29px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 20px 15px 0 -15px;
}

.u-section-1 .u-image-4 {
  width: 570px;
  height: 750px;
  margin: 29px auto 0 270px;
}

.u-section-1 .u-text-8 {
  margin: 20px 15px 0 -15px;
}

.u-section-1 .u-image-5 {
  width: 570px;
  height: 667px;
  margin: 15px auto 0 270px;
}

.u-section-1 .u-image-6 {
  width: 570px;
  height: 693px;
  margin: 30px auto 0 270px;
}

.u-section-1 .u-text-9 {
  margin: 20px 15px 0 -15px;
}

.u-section-1 .u-image-7 {
  width: 570px;
  height: 566px;
  margin: 30px auto 0 270px;
}

.u-section-1 .u-text-10 {
  margin: 20px 15px 0 -15px;
}

.u-section-1 .u-image-8 {
  width: 570px;
  height: 494px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-11 {
  margin: 20px 15px 43px -15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 335px;
    margin-right: 302px;
    margin-left: 503px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 49px;
    margin-right: 426px;
    margin-left: 200px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 353px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 646px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -332px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -2204px;
    margin-right: 959px;
    margin-left: 181px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 164px;
    margin-right: 927px;
    margin-left: 181px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 136px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: 3975px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 192px;
    margin-left: 613px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 420px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 8301px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 726px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -412px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -1160px;
    margin-right: 739px;
    margin-left: 401px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -828px;
    margin-right: 739px;
    margin-left: 401px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 104px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 3871px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 150px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 150px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 150px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5442px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-right: 102px;
    margin-left: 703px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-right: 540px;
    margin-left: 600px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 6201px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-top: 877px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 725px;
    margin-top: -1363px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-top: -245px;
    margin-right: 559px;
    margin-left: 581px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    margin-top: -604px;
    margin-right: 559px;
    margin-left: 581px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 152px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 719px;
    margin-top: 2870px;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 711px;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    width: 540px;
    height: 632px;
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    width: 540px;
    height: 657px;
    margin-left: 0;
  }

  .u-section-1 .u-image-7 {
    width: 540px;
    height: 537px;
    margin-left: 0;
  }

  .u-section-1 .u-image-8 {
    width: 540px;
    height: 468px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3671px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 2px;
    margin-left: 803px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 340px;
    margin-left: 800px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 453px;
    margin-top: 5768px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 1264px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 456px;
    margin-top: -1651px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 357px;
    margin-right: 359px;
    margin-left: 781px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 359px;
    margin-left: 781px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 202px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 453px;
    margin-top: 2337px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 448px;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 398px;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 414px;
  }

  .u-section-1 .u-image-7 {
    width: 340px;
    height: 338px;
  }

  .u-section-1 .u-image-8 {
    width: 340px;
    height: 295px;
  }
}