 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 4115px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-weight: 700;
  font-size: 3rem;
  width: 429px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -11px 927px 0 -19px;
}

.u-section-1 .u-image-1 {
  width: 289px;
  height: 237px;
  margin: -7px 101px 0 auto;
}

.u-section-1 .u-text-3 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: -194px 426px 0 0;
}

.u-section-1 .u-text-4 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 22px 927px 0 -19px;
}

.u-section-1 .u-text-5 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 22px 0 0;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 574px;
  margin: 22px auto 0;
}

.u-section-1 .u-image-3 {
  width: 570px;
  height: 763px;
  margin: 22px auto 0;
}

.u-section-1 .u-text-6 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 36px 0 0;
}

.u-section-1 .u-text-7 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-1 .u-text-8 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-1 .u-text-9 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 22px 886px 0 -19px;
}

.u-section-1 .u-text-10 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 8px 0 0;
}

.u-section-1 .u-text-11 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 22px 927px 60px -19px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 335px;
    margin-right: 302px;
    margin-left: 503px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 19px;
    margin-right: 959px;
    margin-left: 181px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 302px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -829px;
    margin-left: 200px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 208px;
    margin-left: 181px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 786px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -86px;
    margin-right: 727px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 192px;
    margin-left: 613px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 13171px;
    margin-right: 739px;
    margin-left: 401px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 1390px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -15069px;
    margin-left: 420px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 8208px;
    margin-right: 739px;
    margin-left: 401px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 676px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -214px;
    margin-right: 507px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4045px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-right: 102px;
    margin-left: 703px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 10227px;
    margin-right: 559px;
    margin-left: 581px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 1089px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-top: -11754px;
    margin-right: 540px;
    margin-left: 600px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-top: 6363px;
    margin-right: 559px;
    margin-left: 581px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 544px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 723px;
    margin-top: 15px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
    margin-top: 83px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 1rem;
    margin-right: 586px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1rem;
    margin-top: 3px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1rem;
    margin-top: -117px;
    margin-right: 327px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3576px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 2px;
    margin-left: 803px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 10320px;
    margin-right: 359px;
    margin-left: 781px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 946px;
    margin-right: 51px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -11704px;
    margin-right: 340px;
    margin-left: 800px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 6585px;
    margin-right: 359px;
    margin-left: 781px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 343px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 455px;
    margin-top: 40px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 326px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 486px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -442px;
    margin-right: 127px;
  }
}