 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-weight: 700;
  font-size: 3rem;
  width: 349px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 927px 60px -19px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 827px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 717px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-right: 627px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 527px;
  }
}