 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 4716px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-weight: 700;
  font-size: 3rem;
  width: 349px;
  margin: 21px 396px 0;
}

.u-section-1 .u-image-1 {
  width: 500px;
  height: 282px;
  margin: -31px -12px 0 auto;
}

.u-section-1 .u-text-2 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: -205px 426px 0 0;
}

.u-section-1 .u-text-3 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -174px 927px 0 -19px;
}

.u-section-1 .u-text-4 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 196px 927px 0 -19px;
}

.u-section-1 .u-image-2 {
  width: 554px;
  height: 721px;
  margin: 13px auto 0 -19px;
}

.u-section-1 .u-text-5 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: -721px 29px 0 535px;
}

.u-section-1 .u-image-3 {
  width: 576px;
  height: 487px;
  margin: 10px 29px 0 auto;
}

.u-section-1 .u-text-6 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 85px 554px 0 10px;
}

.u-section-1 .u-image-4 {
  width: 520px;
  height: 741px;
  margin: -288px 14px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 590px;
  height: 449px;
  margin: -445px auto 0 0;
}

.u-section-1 .u-image-6 {
  width: 537px;
  height: 794px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-7 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: -732px 0 0 564px;
}

.u-section-1 .u-image-7 {
  width: 570px;
  height: 485px;
  margin: 22px 11px 0 auto;
}

.u-section-1 .u-image-8 {
  width: 570px;
  height: 807px;
  margin: 92px 0 0 auto;
}

.u-section-1 .u-text-8 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: -709px 584px 0 -20px;
}

.u-section-1 .u-image-9 {
  width: 570px;
  height: 484px;
  margin: 19px auto 0 -19px;
}

.u-section-1 .u-text-9 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 112px 927px 0 -19px;
}

.u-section-1 .u-rotation-parent-1 {
  width: 755px;
  height: 418px;
  margin: 22px auto 0;
}

.u-section-1 .u-image-10 {
  width: 417px;
  height: 755px;
  transform-origin: center center 0px;
  position: relative;
  top: -169px;
  left: 169px;
  margin-top: 0;
  margin-bottom: 0;
  transform: rotate(270.04deg);
}

.u-section-1 .u-text-10 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 21px 66px 0;
}

.u-section-1 .u-image-11 {
  width: 686px;
  height: 457px;
  margin: -11px auto 0;
}

.u-section-1 .u-text-11 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  width: 725px;
  margin: 22px auto 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4171px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 296px;
    margin-right: 296px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 226px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 827px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 727px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 364px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 364px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 364px;
  }

  .u-section-1 .u-image-8 {
    width: 470px;
    height: 665px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -567px;
    margin-right: 484px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 827px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: -66px;
  }

  .u-section-1 .u-image-10 {
    width: 256px;
    margin-top: 81px;
    margin-right: auto;
    margin-left: 422px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-top: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4015px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 186px;
    margin-right: 186px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 6px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 717px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 507px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 144px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 144px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 144px;
  }

  .u-section-1 .u-image-8 {
    width: 360px;
    height: 509px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -411px;
    margin-right: 374px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 607px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 720px;
    height: 398px;
  }

  .u-section-1 .u-text-11 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3671px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-left: 96px;
    margin-right: 96px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-right: 627px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-right: 327px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 457px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    width: 540px;
    height: 411px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
    margin-left: 0;
  }

  .u-section-1 .u-image-7 {
    width: 540px;
    height: 459px;
    margin-right: 0;
  }

  .u-section-1 .u-image-8 {
    width: 270px;
    height: 382px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
    margin-top: -284px;
    margin-right: 284px;
  }

  .u-section-1 .u-image-9 {
    width: 540px;
    height: 458px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    font-size: 1rem;
    margin-right: 408px;
    margin-left: 0;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 540px;
    height: 299px;
    margin-top: 3px;
  }

  .u-section-1 .u-image-10 {
    margin-left: 284px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-11 {
    width: 540px;
    height: 360px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1961px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 192px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -115px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 527px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 127px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 442px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -442px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 288px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 485px;
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 259px;
    margin-top: -189px;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 503px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -441px;
  }

  .u-section-1 .u-image-7 {
    width: 340px;
    height: 289px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 184px;
  }

  .u-section-1 .u-image-9 {
    width: 340px;
    height: 288px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 208px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 340px;
    height: 188px;
  }

  .u-section-1 .u-image-10 {
    margin-left: 84px;
  }

  .u-section-1 .u-image-11 {
    width: 340px;
    height: 227px;
  }

  .u-section-1 .u-text-11 {
    width: 340px;
  }
}