 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 7559px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-weight: 700;
  font-size: 3rem;
  margin: 21px 384px 0 402px;
}

.u-section-1 .u-text-2 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 46px 426px 0 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 337px;
  margin: -202px 0 0 auto;
}

.u-section-1 .u-text-3 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -308px 927px 0 -19px;
}

.u-section-1 .u-text-4 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 196px 927px 0 -19px;
}

.u-section-1 .u-text-5 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 21px 21px 0 0;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 461px;
  margin: 21px auto 0 285px;
}

.u-section-1 .u-image-3 {
  width: 570px;
  height: 484px;
  margin: 30px auto 0 285px;
}

.u-section-1 .u-image-4 {
  width: 570px;
  height: 484px;
  margin: 30px auto 0 285px;
}

.u-section-1 .u-image-5 {
  width: 372px;
  height: 616px;
  margin: -25px 384px 0 auto;
}

.u-section-1 .u-text-6 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: -10px 21px 0 0;
}

.u-section-1 .u-image-6 {
  width: 570px;
  height: 484px;
  margin: 20px auto 0 285px;
}

.u-section-1 .u-text-7 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 24px 21px 0 0;
}

.u-section-1 .u-image-7 {
  width: 570px;
  height: 484px;
  margin: 14px auto 0 285px;
}

.u-section-1 .u-text-8 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 24px 21px 0 0;
}

.u-section-1 .u-image-8 {
  width: 570px;
  height: 484px;
  margin: 9px auto 0 285px;
}

.u-section-1 .u-image-9 {
  width: 570px;
  height: 484px;
  margin: 30px auto 0 285px;
}

.u-section-1 .u-text-9 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 20px 21px 0 0;
}

.u-section-1 .u-image-10 {
  width: 570px;
  height: 485px;
  margin: 20px auto 0 285px;
}

.u-section-1 .u-text-10 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 30px 21px 0 0;
}

.u-section-1 .u-image-11 {
  width: 570px;
  height: 484px;
  margin: 24px auto 0 285px;
}

.u-section-1 .u-text-11 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 17px 11px 0;
}

.u-section-1 .u-image-12 {
  width: 570px;
  height: 485px;
  margin: 24px auto 0 285px;
}

.u-section-1 .u-image-13 {
  width: 570px;
  height: 484px;
  margin: 24px auto 0 285px;
}

.u-section-1 .u-text-12 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 20px 11px 0;
}

.u-section-1 .u-rotation-parent-1 {
  width: 803px;
  height: 922px;
  margin: -281px auto 0 30px;
}

.u-section-1 .u-image-14 {
  width: 529px;
  height: 771px;
  transform-origin: center center 0px;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  top: 75px;
  left: 137px;
  transform: rotate(24.78deg);
}

.u-section-1 .u-image-15 {
  width: 604px;
  height: 403px;
  margin: -640px 170px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 7500px;
  }

  .u-section-1 .u-text-1 {
    width: 335px;
    margin-right: 302px;
    margin-left: 503px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 200px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 278px;
    margin-top: 4261px;
    margin-right: 200px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -4617px;
    margin-right: 959px;
    margin-left: 181px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 181px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 3927px;
    margin-left: 200px;
    margin-right: 200px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 501px;
    margin-right: 185px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-right: 185px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-right: 185px;
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    margin-top: 3560px;
    margin-right: 284px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 200px;
    margin-right: 200px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 809px;
    margin-right: 185px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: 976px;
    margin-left: 200px;
    margin-right: 200px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 968px;
    margin-right: 185px;
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
  }

  .u-section-1 .u-image-8 {
    margin-right: 185px;
    margin-left: auto;
  }

  .u-section-1 .u-image-9 {
    margin-right: 185px;
    margin-left: auto;
  }

  .u-section-1 .u-text-9 {
    margin-left: 200px;
    margin-right: 200px;
  }

  .u-section-1 .u-image-10 {
    margin-right: 185px;
    margin-left: auto;
  }

  .u-section-1 .u-text-10 {
    margin-left: 200px;
    margin-right: 200px;
  }

  .u-section-1 .u-image-11 {
    margin-right: 185px;
    margin-left: auto;
  }

  .u-section-1 .u-text-11 {
    margin-left: 200px;
    margin-right: 200px;
  }

  .u-section-1 .u-image-12 {
    margin-top: -128px;
    margin-right: 185px;
    margin-left: auto;
  }

  .u-section-1 .u-image-13 {
    margin-top: 62px;
    margin-right: 185px;
    margin-left: auto;
  }

  .u-section-1 .u-text-12 {
    margin-left: 200px;
    margin-right: 200px;
  }

  .u-section-1 .u-image-14 {
    margin-right: auto;
    margin-left: 54px;
  }

  .u-section-1 .u-image-15 {
    margin-top: -468px;
    margin-right: 234px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 7339px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 192px;
    margin-left: 613px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 420px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 213px;
    margin-top: 4561px;
    margin-right: auto;
    margin-left: 360px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 3148px;
    margin-right: 739px;
    margin-left: 401px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 739px;
    margin-left: 401px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -3838px;
    margin-left: 420px;
    margin-right: 420px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 341px;
    margin-right: 75px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 75px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 75px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 3752px;
    margin-right: 174px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 420px;
    margin-right: 420px;
  }

  .u-section-1 .u-image-6 {
    margin-right: 75px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 420px;
    margin-right: 420px;
  }

  .u-section-1 .u-image-7 {
    margin-right: 75px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 420px;
    margin-right: 420px;
  }

  .u-section-1 .u-image-8 {
    margin-right: 75px;
  }

  .u-section-1 .u-image-9 {
    margin-right: 75px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 420px;
    margin-right: 420px;
  }

  .u-section-1 .u-image-10 {
    margin-right: 75px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 420px;
    margin-right: 420px;
  }

  .u-section-1 .u-image-11 {
    margin-right: 75px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 420px;
    margin-right: 420px;
  }

  .u-section-1 .u-image-12 {
    margin-right: 75px;
  }

  .u-section-1 .u-image-13 {
    margin-right: 75px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 420px;
    margin-right: 420px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 720px;
    height: 827px;
    margin-left: 210px;
  }

  .u-section-1 .u-image-15 {
    margin-top: -266px;
    margin-right: auto;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 6757px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-right: 102px;
    margin-left: 703px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-right: 540px;
    margin-left: 600px;
  }

  .u-section-1 .u-image-1 {
    width: 270px;
    height: 160px;
    margin-top: 4047px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-top: 1940px;
    margin-right: 559px;
    margin-left: 581px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-right: 559px;
    margin-left: 581px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    margin-top: -2511px;
    margin-right: 540px;
    margin-left: 600px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 436px;
    margin-top: 171px;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 459px;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 459px;
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    margin-top: 3515px;
    margin-right: 84px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
    margin-right: 540px;
    margin-left: 600px;
  }

  .u-section-1 .u-image-6 {
    width: 540px;
    height: 458px;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
    margin-right: 540px;
    margin-left: 600px;
  }

  .u-section-1 .u-image-7 {
    width: 540px;
    height: 459px;
    margin-top: 967px;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
    margin-top: 63px;
    margin-right: 540px;
    margin-left: 600px;
  }

  .u-section-1 .u-image-8 {
    width: 540px;
    height: 458px;
    margin-right: 0;
  }

  .u-section-1 .u-image-9 {
    width: 540px;
    height: 459px;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    font-size: 1rem;
    margin-right: 540px;
    margin-left: 600px;
  }

  .u-section-1 .u-image-10 {
    width: 540px;
    height: 459px;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    font-size: 1rem;
    margin-right: 540px;
    margin-left: 600px;
  }

  .u-section-1 .u-image-11 {
    width: 540px;
    height: 459px;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    font-size: 1rem;
    margin-right: 540px;
    margin-left: 600px;
  }

  .u-section-1 .u-image-12 {
    width: 540px;
    height: 459px;
    margin-top: -129px;
    margin-right: 0;
  }

  .u-section-1 .u-image-13 {
    width: 540px;
    height: 459px;
    margin-top: 88px;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    font-size: 1rem;
    margin-right: 540px;
    margin-left: 600px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 540px;
    height: 620px;
    margin-left: 300px;
  }

  .u-section-1 .u-image-15 {
    width: 540px;
    height: 360px;
    margin-top: -101px;
    margin-left: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4480px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 2px;
    margin-left: 803px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 340px;
    margin-left: 800px;
  }

  .u-section-1 .u-image-1 {
    width: 170px;
    height: 101px;
    margin-top: 3517px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 2479px;
    margin-right: 359px;
    margin-left: 781px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 359px;
    margin-left: 781px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -3050px;
    margin-right: 340px;
    margin-left: 800px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 275px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 289px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 289px;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 563px;
    margin-top: 2695px;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 43px;
    margin-right: 340px;
    margin-left: 800px;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 288px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 340px;
    margin-left: 800px;
  }

  .u-section-1 .u-image-7 {
    width: 340px;
    height: 289px;
    margin-top: 968px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 346px;
    margin-right: 340px;
    margin-left: 800px;
  }

  .u-section-1 .u-image-8 {
    width: 340px;
    height: 288px;
  }

  .u-section-1 .u-image-9 {
    width: 340px;
    height: 289px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 340px;
    margin-left: 800px;
  }

  .u-section-1 .u-image-10 {
    width: 340px;
    height: 289px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 340px;
    margin-left: 800px;
  }

  .u-section-1 .u-image-11 {
    width: 340px;
    height: 289px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 340px;
    margin-left: 800px;
  }

  .u-section-1 .u-image-12 {
    width: 340px;
    height: 289px;
  }

  .u-section-1 .u-image-13 {
    width: 340px;
    height: 289px;
    margin-top: 258px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 340px;
    margin-left: 800px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 340px;
    height: 390px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-14 {
    margin-left: 0;
  }

  .u-section-1 .u-image-15 {
    width: 340px;
    height: 227px;
    margin-top: 82px;
    margin-left: 400px;
  }
}